<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Quoting Dojo</title>
</head>
<body>
    <div class="container">
        <h2>Welcome to Quoting Dojo</h2>
        <form action="/quotes" method="POST">
            <label for="name">Your name: <input type="text" name="name"></label>
            <label for="quote">Your quote: <input type="text" name="quote"></label>
            <br>
            <input type="submit">
        </form>
    </div>
</body>
</html>